Repository grommet/hpe-design-system, pull requests merged in 2021-09, with the labels that each got.

#1837 fixing propType warning
  aries-site/src/layouts/main/ThemeMode.js
  yarn.lock
Labels: bug

#1853 add new prop to align list
  aries-site/src/examples/templates/list-views/ListOrderExample.js
  aries-site/src/pages/templates/lists.mdx
  yarn.lock
Labels: review requested

#1879 Populating Foundation pages metadata
  aries-site/src/data/structures/foundation.js
  aries-site/src/pages/foundation/human-centered.mdx
Labels: design system site, review requested

#1886 Populating Components pages metadata
  aries-site/src/data/structures/components.js
  aries-site/src/examples/components/checkboxgroup/CheckBoxGroupScrollExample.js
  aries-site/src/examples/components/spinner/ListSpinnerExample.js
  aries-site/src/examples/templates/list-views/ListIconIdentifierExample.js
  aries-site/src/pages/components/footer.mdx
  aries-site/src/pages/components/header.mdx
  aries-site/src/pages/components/pagination.mdx
Labels: design system site, review requested

#1896 Populate Templates pages' metadata
  aries-site/src/data/structures/templates.js
  aries-site/src/examples/templates/toast-notifications/ToastDiagram.js
Labels: design system site

#1871 Site search UX - Expanded results in Layer
  aries-site/.testcaferc.json
  aries-site/package.json
  aries-site/src/examples/components/card/CardMeterExample.js
  aries-site/src/examples/components/notifications/StateVsStatusDiagram.js
  aries-site/src/layouts/content/SubsectionHeader.js
  aries-site/src/layouts/main/Header.js
  aries-site/src/layouts/navigation/HighlightPhrase.js
  aries-site/src/layouts/navigation/Search.js
  aries-site/src/layouts/navigation/SearchInput.js
  aries-site/src/layouts/navigation/SearchResult.js
  aries-site/src/layouts/navigation/SearchResults.js
  aries-site/src/layouts/navigation/index.js
  aries-site/src/page-objects/components/Navbar.js
  aries-site/src/tests/navigation/search.js
  aries-site/src/tests/utils.js
  aries-site/src/utils/search.js
  yarn.lock
Labels: design system site
