Repository grommet/hpe-design-system, pull requests merged in 2021-11, with the labels that each got.

#2029 Convert color page to mdx
  aries-site/src/components/content/ColorSwatch.js
  aries-site/src/examples/foundation/color/ColorAccessibility.js
  aries-site/src/examples/foundation/color/ColorPalettes.js
  aries-site/src/examples/foundation/color/index.js
  aries-site/src/layouts/content/ColorRow.js
  aries-site/src/pages/foundation/color.js
  aries-site/src/pages/foundation/color.mdx
Labels: design system site

#2028 Datatables 1972 - guidance on state and status
  aries-site/public/static/images/datatable-combined-column-status-state.svg
  aries-site/public/static/images/datatable-only-status-column.svg
  aries-site/public/static/images/datatable-separate-columns-status-state.svg
  aries-site/src/pages/components/datatable.mdx
Labels: design system site, Implement

#2056 Fix - Modify regex for Safari
  aries-site/src/layouts/navigation/Search.js
Labels: bug, design system site

#2069 Placeholder page for guidance around scrolling and pagination
  aries-site/src/data/structures/templates.js
  aries-site/src/pages/templates/scrolling-and-pagination.mdx
Labels: design system site
