Repository grommet/hpe-design-system, pull requests merged in 2022-01, with the labels that each got.

#2201 Move app-layouts to be page-layouts
  aries-site/src/data/structures/templates.js
  aries-site/src/examples/templates/app-layouts/index.js
  aries-site/src/examples/templates/index.js
  aries-site/src/examples/templates/page-layouts/anatomy/AppAnatomy.js
  aries-site/src/examples/templates/page-layouts/anatomy/PageAnatomy.js
  aries-site/src/examples/templates/page-layouts/anatomy/PageContainerFull.js
  aries-site/src/examples/templates/page-layouts/anatomy/PageContainerNarrow.js
  aries-site/src/examples/templates/page-layouts/anatomy/PageContainerWide.js
  aries-site/src/examples/templates/page-layouts/anatomy/components/ContentArea.js
  aries-site/src/examples/templates/page-layouts/anatomy/components/index.js
  aries-site/src/examples/templates/page-layouts/anatomy/index.js
  aries-site/src/examples/templates/page-layouts/index.js
  aries-site/src/pages/templates/app-layouts.mdx
  aries-site/src/pages/templates/page-layouts.mdx
Labels: design system site, Implement

#2225 allow figcaption to display below example controls
  aries-site/src/layouts/content/Example/Example.js
  aries-site/src/pages/components/rangeinput.mdx
Labels: design system site, Implement

#2232 Create Custom 404 Page
  aries-site/public/404-pile-invert.svg
  aries-site/public/404-pile.svg
  aries-site/src/pages/404.js
  aries-site/src/utils/search.js
  yarn.lock
Labels: design system site, Implement

#2236 Adding terminology to voice-and-tone.mdx
  aries-site/src/pages/foundation/voice-and-tone.mdx
Labels: design system site

#2240 Add fullscreen mode to responsive controls
  aries-site/src/layouts/content/Example/Example.js
  aries-site/src/layouts/content/Example/ExampleControls.js
  aries-site/src/layouts/content/Example/ResponsiveControls.js
  aries-site/src/pages/templates/page-layouts.mdx
  yarn.lock
Labels: design system site

#2246 Dashboards example - Add complete set of code reference files
  aries-site/src/pages/templates/dashboards.mdx
  yarn.lock
Labels: bug, design system site

#2257 Page layouts - Add wide page container example
  aries-site/src/examples/templates/page-layouts/PageContainerInteractive.js
  aries-site/src/examples/templates/page-layouts/anatomy/AppAnatomy.js
  aries-site/src/examples/templates/page-layouts/anatomy/PageAnatomy.js
  aries-site/src/examples/templates/page-layouts/anatomy/components/ContentArea.js
  aries-site/src/examples/templates/page-layouts/components/AppContainer.js
  aries-site/src/examples/templates/page-layouts/components/PageContainer.js
  aries-site/src/examples/templates/page-layouts/components/index.js
  aries-site/src/examples/templates/page-layouts/index.js
  aries-site/src/layouts/content/Example/BrowserWrapper.js
  aries-site/src/layouts/content/Example/Container.js
  aries-site/src/layouts/content/Example/Example.js
  aries-site/src/pages/templates/page-layouts.mdx
  aries-site/src/themes/aries.js
Labels: design system site, Implement

#2277 Page layouts responsive presentation
  aries-site/src/data/structures/templates/templates.js
  aries-site/src/examples/templates/page-layouts/components/PageContainer.js
  aries-site/src/layouts/content/Example/Example.js
  aries-site/src/pages/templates/page-layouts.mdx
  aries-site/src/themes/scaled.js
  yarn.lock
Labels: design system site
