Repository grommet/hpe-design-system, pull requests merged in 2022-02, with the labels that each got.

#2298 Calculate mock browser ResponsiveContext on window resize
  aries-site/src/examples/templates/page-layouts/PageContainerInteractive.js
  aries-site/src/layouts/content/Example/Example.js
  yarn.lock
Labels: design system site

#2303 Apply scale factor to rest of theme attributes
  aries-site/src/examples/templates/content-layouts/ResponsiveContentLayoutExample.js
  aries-site/src/examples/templates/page-layouts/anatomy/components/ContentArea.js
  aries-site/src/layouts/content/Example/Example.js
  aries-site/src/pages/templates/content-layouts.mdx
  aries-site/src/themes/scaled.js
  yarn.lock
Labels: design system site

#2302 add button alignment
  aries-site/src/examples/components/button/ButtonLeftAlignExample.js
  aries-site/src/examples/components/button/ButtonRightAlignExample.js
  aries-site/src/examples/components/button/index.js
  aries-site/src/pages/components/button.mdx
Labels: design system site

#2304 Create dashboard components statusbar and measure
  aries-site/src/data/mockData/serverhealth.json
  aries-site/src/data/structures/templates/content-layouts.js
  aries-site/src/examples/templates/dashboards/DashboardExample.js
  aries-site/src/examples/templates/dashboards/TwoColumnDashboard.js
  aries-site/src/examples/templates/dashboards/components/Greeting.js
  aries-site/src/examples/templates/dashboards/components/Measure.js
  aries-site/src/examples/templates/dashboards/components/PageHeader.js
  aries-site/src/examples/templates/dashboards/components/StatusBar.js
  aries-site/src/examples/templates/dashboards/components/index.js
  aries-site/src/examples/templates/dashboards/content/ServerHealth.js
  aries-site/src/examples/templates/dashboards/content/index.js
  aries-site/src/examples/templates/dashboards/index.js
  aries-site/src/examples/templates/page-layouts/index.js
  aries-site/src/pages/templates/dashboards.mdx
  yarn.lock
Labels: design system site, Implement

#2313 PageContainer & PageContainerContent tweaks
  aries-site/src/examples/templates/content-layouts/ResponsiveContentLayoutExample.js
  aries-site/src/examples/templates/dashboards/TwoColumnDashboard.js
  aries-site/src/examples/templates/dashboards/components/PageHeader.js
  aries-site/src/examples/templates/page-layouts/PageContainerInteractive.js
  aries-site/src/examples/templates/page-layouts/components/PageContainer.js
  yarn.lock
Labels: design system site

#2314 Fix links pointing to removed examples
  aries-site/src/pages/templates/filtering.mdx
  yarn.lock
Labels: bug, design system site

#2316 Add mock data sets
  aries-site/src/data/mockData/activities.json
  aries-site/src/data/mockData/firmware-bundles.json
  aries-site/src/data/mockData/servers.json
  aries-site/src/data/mockData/tags.json
Labels: design system site

#2318 Adds Activity feed to the two column dashboard
  aries-site/src/examples/templates/dashboards/TwoColumnDashboard.js
  aries-site/src/examples/templates/dashboards/components/Activity.js
  aries-site/src/examples/templates/dashboards/components/ActivityFeed.js
  aries-site/src/examples/templates/dashboards/components/index.js
  aries-site/src/examples/templates/dashboards/content/RecentActivity.js
  aries-site/src/examples/templates/dashboards/content/index.js
Labels: design system site, Implement

#2324 Add reusable DashboardCardHeader and refactor
  aries-site/src/examples/templates/dashboards/TwoColumnDashboard.js
  aries-site/src/examples/templates/dashboards/components/DashboardCardHeader.js
  aries-site/src/examples/templates/dashboards/components/StatusBar.js
  aries-site/src/examples/templates/dashboards/components/index.js
  aries-site/src/examples/templates/dashboards/content/FirmwareStatus.js
  aries-site/src/examples/templates/dashboards/content/RecentActivity.js
  aries-site/src/examples/templates/dashboards/content/ServerAttention.js
  aries-site/src/examples/templates/dashboards/content/ServerHealth.js
  aries-site/src/examples/templates/dashboards/content/index.js
  aries-site/src/examples/templates/dashboards/index.js
  yarn.lock
Labels: design system site, Implement

#2327 Two Column Dashboard - Add Firmware Baselines to dashboard
  aries-site/src/data/mockData/servers.json
  aries-site/src/examples/templates/dashboards/TwoColumnDashboard.js
  aries-site/src/examples/templates/dashboards/components/ItemCountList.js
  aries-site/src/examples/templates/dashboards/components/index.js
  aries-site/src/examples/templates/dashboards/content/FirmwareBaselines.js
  aries-site/src/examples/templates/dashboards/content/index.js
  yarn.lock
Labels: design system site, Implement

#2336 Add consumption dataset for dashboard charts
  aries-site/src/data/mockData/consumption.json
Labels: design system site

#2337 Dashboards - Fix grid definition
  aries-site/src/examples/templates/dashboards/TwoColumnDashboard.js
Labels: design system site

#2340 Two Column Dashboard - Add preview image, increase bottom pad, add example resource links
  aries-site/public/templateImages/2col-dashboard-invert.svg
  aries-site/public/templateImages/2col-dashboard.svg
  aries-site/src/data/structures/templates/content-layouts.js
  aries-site/src/examples/templates/page-layouts/components/PageContainer.js
  aries-site/src/pages/templates/dashboards.mdx
Labels: design system site, Implement

#2346 Merge Page Layouts branch into Master branch
  aries-site/public/templateImages/2col-dashboard-invert.svg
  aries-site/public/templateImages/2col-dashboard.svg
  aries-site/src/data/mockData/activities.json
  aries-site/src/data/mockData/consumption.json
  aries-site/src/data/mockData/firmware-bundles.json
  aries-site/src/data/mockData/serverhealth.json
  aries-site/src/data/mockData/servers.json
  aries-site/src/data/mockData/tags.json
  aries-site/src/data/structures/templates/content-layouts.js
  aries-site/src/data/structures/templates/templates.js
  aries-site/src/examples/templates/content-layouts/ResponsiveContentLayoutExample.js
  aries-site/src/examples/templates/dashboards/DashboardExample.js
  aries-site/src/examples/templates/dashboards/TwoColumnDashboard.js
  aries-site/src/examples/templates/dashboards/components/Activity.js
  aries-site/src/examples/templates/dashboards/components/ActivityFeed.js
  aries-site/src/examples/templates/dashboards/components/DashboardCardHeader.js
  aries-site/src/examples/templates/dashboards/components/Greeting.js
  aries-site/src/examples/templates/dashboards/components/ItemCountList.js
  aries-site/src/examples/templates/dashboards/components/Measure.js
  aries-site/src/examples/templates/dashboards/components/PageHeader.js
  aries-site/src/examples/templates/dashboards/components/StatusBar.js
  aries-site/src/examples/templates/dashboards/components/UpdateItem.js
  aries-site/src/examples/templates/dashboards/components/UpdateNotificationsList.js
  aries-site/src/examples/templates/dashboards/components/UpdatesFeed.js
  aries-site/src/examples/templates/dashboards/components/index.js
  aries-site/src/examples/templates/dashboards/content/FirmwareBaselines.js
  aries-site/src/examples/templates/dashboards/content/FirmwareStatus.js
  aries-site/src/examples/templates/dashboards/content/RecentActivity.js
  aries-site/src/examples/templates/dashboards/content/ServerAttention.js
  aries-site/src/examples/templates/dashboards/content/ServerHealth.js
  aries-site/src/examples/templates/dashboards/content/UpdatesAvaliable.js
  aries-site/src/examples/templates/dashboards/content/index.js
  aries-site/src/examples/templates/dashboards/index.js
  aries-site/src/examples/templates/page-layouts/PageContainerInteractive.js
  aries-site/src/examples/templates/page-layouts/anatomy/PageContainerWide.js
  aries-site/src/examples/templates/page-layouts/anatomy/components/ContentArea.js
  aries-site/src/examples/templates/page-layouts/components/AppContainer.js
  aries-site/src/examples/templates/page-layouts/components/PageContainer.js
  aries-site/src/examples/templates/page-layouts/index.js
  aries-site/src/layouts/content/Example/Example.js
  aries-site/src/pages/templates/content-layouts.mdx
  aries-site/src/pages/templates/dashboards.mdx
  aries-site/src/pages/templates/page-layouts.mdx
  aries-site/src/themes/scaled.js
  yarn.lock
Labels: design system site

#2347 Start three column dashboard
  aries-site/public/templateImages/3col-dashboard-invert.svg
  aries-site/public/templateImages/3col-dashboard.svg
  aries-site/src/data/structures/templates/content-layouts.js
  aries-site/src/examples/templates/dashboards/ThreeColumnDashboard.js
  aries-site/src/examples/templates/dashboards/components/ChartCard.js
  aries-site/src/examples/templates/dashboards/components/DashboardCardHeader.js
  aries-site/src/examples/templates/dashboards/components/Legend.js
  aries-site/src/examples/templates/dashboards/components/Measure.js
  aries-site/src/examples/templates/dashboards/components/index.js
  aries-site/src/examples/templates/dashboards/content/chartCards/CostByService.js
  aries-site/src/examples/templates/dashboards/content/chartCards/index.js
  aries-site/src/examples/templates/dashboards/content/index.js
  aries-site/src/examples/templates/dashboards/index.js
  aries-site/src/pages/templates/dashboards.mdx
Labels: design system site

#2357 Provide source files and github link
  aries-site/src/pages/components/button.mdx
Labels: design system site

#2356 3-Col Dashboard - Add second widget
  aries-site/public/templateImages/2col-dashboard-invert.svg
  aries-site/public/templateImages/2col-dashboard.svg
  aries-site/src/examples/templates/dashboards/ThreeColumnDashboard.js
  aries-site/src/examples/templates/dashboards/components/ChartCard.js
  aries-site/src/examples/templates/dashboards/content/chartCards/CostByMonth.js
  aries-site/src/examples/templates/dashboards/content/chartCards/CostByService.js
  aries-site/src/examples/templates/dashboards/content/chartCards/index.js
  aries-site/src/examples/templates/dashboards/content/chartCards/utils/formatValues.js
  aries-site/src/examples/templates/dashboards/content/chartCards/utils/index.js
  aries-site/src/examples/templates/dashboards/content/chartCards/utils/statistics.js
  aries-site/src/examples/templates/dashboards/content/chartCards/utils/window.js
  yarn.lock
Labels: design system site, Implement

#2365 3-col Dashboard - Add annual spend chart
  aries-site/src/data/mockData/accounts.json
  aries-site/src/data/mockData/consumption.json
  aries-site/src/examples/templates/dashboards/ThreeColumnDashboard.js
  aries-site/src/examples/templates/dashboards/content/chartCards/CostByMonth.js
  aries-site/src/examples/templates/dashboards/content/chartCards/CostByYear.js
  aries-site/src/examples/templates/dashboards/content/chartCards/index.js
  aries-site/src/examples/templates/dashboards/content/chartCards/utils/window.js
  yarn.lock
Labels: design system site, Implement

#2382 Three col dashboard - Add last chart to 3-col dashboard
  aries-site/src/data/mockData/compliance.json
  aries-site/src/examples/templates/dashboards/ThreeColumnDashboard.js
  aries-site/src/examples/templates/dashboards/components/ChartCard.js
  aries-site/src/examples/templates/dashboards/components/Measure.js
  aries-site/src/examples/templates/dashboards/components/MeterGroup.js
  aries-site/src/examples/templates/dashboards/components/index.js
  aries-site/src/examples/templates/dashboards/content/chartCards/CostByYear.js
  aries-site/src/examples/templates/dashboards/content/chartCards/RulesAudit.js
  aries-site/src/examples/templates/dashboards/content/chartCards/index.js
  aries-site/src/pages/templates/dashboards.mdx
  yarn.lock
Labels: design system site, Implement

#2384 Page layouts
  aries-site/public/templateImages/2col-dashboard-invert.svg
  aries-site/public/templateImages/2col-dashboard.svg
  aries-site/public/templateImages/3col-dashboard-invert.svg
  aries-site/public/templateImages/3col-dashboard.svg
  aries-site/src/data/mockData/accounts.json
  aries-site/src/data/mockData/compliance.json
  aries-site/src/data/mockData/consumption.json
  aries-site/src/data/structures/templates/content-layouts.js
  aries-site/src/examples/templates/dashboards/ThreeColumnDashboard.js
  aries-site/src/examples/templates/dashboards/components/ChartCard.js
  aries-site/src/examples/templates/dashboards/components/DashboardCardHeader.js
  aries-site/src/examples/templates/dashboards/components/Legend.js
  aries-site/src/examples/templates/dashboards/components/Measure.js
  aries-site/src/examples/templates/dashboards/components/MeterGroup.js
  aries-site/src/examples/templates/dashboards/components/index.js
  aries-site/src/examples/templates/dashboards/content/chartCards/CostByMonth.js
  aries-site/src/examples/templates/dashboards/content/chartCards/CostByService.js
  aries-site/src/examples/templates/dashboards/content/chartCards/CostByYear.js
  aries-site/src/examples/templates/dashboards/content/chartCards/RulesAudit.js
  aries-site/src/examples/templates/dashboards/content/chartCards/index.js
  aries-site/src/examples/templates/dashboards/content/chartCards/utils/formatValues.js
  aries-site/src/examples/templates/dashboards/content/chartCards/utils/index.js
  aries-site/src/examples/templates/dashboards/content/chartCards/utils/statistics.js
  aries-site/src/examples/templates/dashboards/content/chartCards/utils/window.js
  aries-site/src/examples/templates/dashboards/content/index.js
  aries-site/src/examples/templates/dashboards/index.js
  aries-site/src/pages/templates/dashboards.mdx
  yarn.lock
Labels: design system site

#2388 Reorder content layout templates
  aries-site/src/data/structures/templates/content-layouts.js
  aries-site/src/pages/templates/content-layouts.mdx
Labels: design system site
